
{% extends "layout.html" %}

{% block content %}
<h1 class="nh1" style="text-align: center;">SAN MIGUEL:</h1>
<div class="fpa justify-content-center col" style="display: block; margin: 5px;">    
    <center><div class="row" style="padding: 5px;">
         
    <div class="col" style="padding: 5px;">
        <p style="text-align: justify; margin: 5px;">
            San Miguel es una ciudad y municipio del departamento de San Miguel, El Salvador. Es también la 
            cabecera departamental del departamento homónimo. Históricamente ha sido y sigue siendo, por casi
             500 años ya, la ciudad más importante de la zona oriental del país. Tiene una población estimada
              de 247 119 habitantes para el año 2013, lo que la convierte en la cuarta ciudad más poblada del 
              país, y la tercera más importante por su influencia económica.San Miguel fue fundada el 8 de mayo
               de 1530 por el Capitán Luis de Moscoso bajo el nombre completo de San Miguel de La Frontera, 
               convirtiéndose así en la segunda ciudad colonial española de los territorios hoy salvadoreños,
                pero se trasladó a su actual ubicación hasta en 1586. Desde entonces, San Miguel se convirtió en émula y rival de San Salvador como segunda 
                ciudad en importancia dentro de la Alcaldía Mayor de San Salvador y, posteriormente, de la 
                Intendencia de San Salvador durante toda la época de colonización española.


              



        </p>
   
{% endblock %}